@use '../../../styles/abstracts/' as *;

.dashboard-main-wrapper {
    font-family: 'colfax-regular';
    padding-top: 6rem;

    @include desktop {
        padding-top: 0;
        display: flex;
        height: 100%;

        .section {
            flex: 1;
            width: 100%;
            padding-left: 64px;
        }
    }
    
    .section {
        display: flex;
    }
}

// general styles for dashboard pages
.dashboard-main-wrapper input {
    width: 100%;
    height: 40px;
    padding-left: 1rem;
    padding-right: 1rem;
    border-color: rgb(201, 201, 205) !important;

    background: #fff;
    border: 1px solid #e3eaed;

    border-radius: 4px;
    line-height: 1.2;
    font-size: 15px;
    color: #424d57;
    box-sizing: border-box;
    background-clip: padding-box;

    outline: none;

    &:focus {
        box-shadow: none;
        border-color: rgb(0, 102, 255) !important;
    }

    &.--error {
        border-color: red !important;
    }

    

    &[type="checkbox"],&[type="radio"] {
            background: #fff;
            margin-right: 13px;
            width: 18px;
            height: 18px;
            border: 1px solid #cfd3d5;
            border-radius: 3px;
        
    }
}