@use '../../../styles/abstracts/' as *;

.dashboard-main-wrapper {
    @include desktop {
        display: flex;
        height: 100%;

        .section {
            flex: 1;
            width: 100%;
            padding-left: 64px;
        }
    }
    

    .section {
        display: flex;
        
    }
}

// general styles for dashboard pages
.dashboard-main-wrapper input {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border-color: rgb(201, 201, 205) !important;

    background: #fff;
    border: 1px solid #e3eaed!important;
    padding: 7px;
    border-radius: 4px;

    border: 1px solid #bcc6d0;
    border-radius: 4px;
    line-height: 1.2;
    padding: 8px 10px;
    font-size: 15px;
    color: #424d57;
    box-sizing: border-box;
    background-clip: padding-box;

    outline: none;

    &:focus {
        box-shadow: none;
        border-color: rgb(0, 102, 255) !important;
    }
}