@use '../../../styles/abstracts/' as *;

.userMenu {
    @media screen and (max-width: $desktop-screen-breakpoint) {
        display: none;    
    }

    position: fixed;
    top: auto;
    bottom: 0;
    padding: 1rem;
    margin-left: 6rem;
    box-shadow: 0 6px 20px rgba(0,0,0,.3);
    font-size: 1.5rem;
    color: black;
    
    &__list {
        @include flex(column);
    }
    
    &__item {
        padding: 1.6rem;
        z-index: 10;
        background-color: #fff;
    }
}