// fonts
@font-face {
    font-family: 'colfax-bold';
    src: url('../fonts/colfax-font/ColfaxWebBold.woff2') format('woff2');
}

@font-face {
    font-family: 'colfax';
    src: url('../fonts/colfax-font/ColfaxWebMedium.woff2') format('woff2');
}

@font-face {
    font-family: 'colfax-regular';
    src: url('../fonts/colfax-font/ColfaxWebRegular.woff2') format('woff2');
}


// reset
html {
    // reset rem font size
    font-size: 10px;
    --btn-red-color: #ee0007;
    --dark-color: #0f0f10;
    --btn-dark-color: #0f0f10;
    --btn-dark-hover-color: #303037;
    --landpage-font: "colfax", "sans-serif";
    --btn-border-radius: .4rem;
    --red-btn-hover-color: #cf0006;
    --blue-color: #06f;
    --grey-color: #f6f6f7;
    --yellow-color: #ffd000;
}

button {
    padding: 0;
    outline: none;
    border: none;
    background: none;
    font: inherit;
    color: inherit;
}

*,*::before,*::after {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

ol,ul {
    list-style: none;
}

img, video {
    display: block;
    margin-left: auto; 
    margin-right: auto;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: unset;
}

body{
    font-family: var(--landpage-font);
}

.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    font-size: 1.6rem;
    font-weight: 500;
    border-radius: var(--btn-border-radius);
    cursor: pointer;
    padding: 1.2rem 2.4rem;

    transition: background-color .2s, color .2s, border .2s;
    transition-timing-function: ease;

    &--red {
        background-color: var(--btn-red-color);
        color: #fff;
        border: 1px solid var(--btn-red-color);

        &:hover {
            background-color: var(--red-btn-hover-color);
        }
    }

    &--white {
        color: var(--dark-color);
        border: 1px solid var(--dark-color);

        &:hover {
            background-color: var(--dark-color);
            color: #fff;
        }
    }

    &--dark {
        background-color: var(--btn-dark-color);
        color: #fff;

        &:hover {
            background-color: var(--btn-dark-hover-color);
        }
    }

    &--blue {
        padding: .6rem 1.6rem;
        color: white;
        font-weight: 600;
        font-size: 1.5rem;
        background-color: var(--blue-color);
    }

    &--outline {
        padding: .6rem 1.6rem;
        color: var(--blue-color);
        font-weight: 500;
        font-size: 1.5rem;
        border: 1px solid var(--blue-color);

    }
}

