@use '../../styles/abstracts' as *;

.section{
    font-family: 'colfax-regular';

    &__title {
        font-family: 'colfax';
        font-size: 3.62rem;

        @include smallScreens {
            font-size: calc(3.62rem + 2.24562 * (100vw - $small-screen-breakpoint)/39);
        }

        @include largeDesktop {
            font-size: 7.213rem;
        }
    }

    &__container{
        @include flex(column,unset,unset);
        position: relative;
        margin: 0 auto;
        padding: 0 2rem;

        &--xl{
            max-width: 135.2rem;
        }

        @include desktop{
            flex-direction: row;
        }   
    }
}

.app-wrapper {
    display: flex;
    flex-direction: column;
}