$navbar-height-desktop: 90px;
$navbar-height-mobile: 60px;
$navbar-max-width:1360px;
$nav-item-padding-desktop: 1.2rem 1.6rem;
$nav-item-padding-mobile: 2rem 2.4rem;

@use '../../styles/abstracts' as *;

.navbar {
    position: sticky;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    height: $navbar-height-mobile;
    font-size: 1.6rem;
    border-bottom: 1px solid var(--grey-color);
    padding: 0 2.4rem;
    background: #fff;

    &__content {
        margin:0 auto;
        @include flex(row,space-between,center);
        height: 100%;
        max-width: $navbar-max-width;
    }    

    &--expanded .nav,.hamburger-btn{
        display: flex;
    }
    
    &__auth-links {
        display: none;
    }

    &__logo {
        @include desktop {
            .image{
                height: 33px;
                width: auto;
    
            }    
        }
        
    }

    @include desktop{
        height: $navbar-height-desktop;

        .hamburger-btn {
            display: none;
        }

        &__auth-links {
            display: flex;
            margin-left: auto;
        }

        &__content {
            padding: 0 2.4rem;
        }
    }
}

.nav{
    display: none;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: $navbar-height-mobile;
    width: 100%;
    height: calc(100% - $navbar-height-mobile);
    overflow: auto;
    background: #fff;

    &__menu {
        @include flex($alignItems: space-between)
    }

    @include desktop {
        position: relative;
        top: 0;
        height: unset;
        overflow: visible;
        display: flex;

        &__menu {
            display: block;
            margin-left: 4rem;

            &--opened{
                .nav-item__label{
                    color: grey;
                }
            }
        }
    }
}

.nav-item {
    display: inline-block;
    position: relative;
    
    border-bottom: 1px solid #eeeeef;

    &.active  {
        .nav-sub{
            display: block;
        }

        .chevron {
            transform: rotate(-180deg);
            transition: transform .4s;
        }
    }

    &__label {
        @include flex(row,space-between);
        width: 100%;
        padding: $nav-item-padding-mobile;
        margin-bottom: 1px solid;

        @include desktop {
            padding:$nav-item-padding-desktop;
            align-items: center;
        }
    }

    @include desktop {
        border-bottom: none;
        
        &.active &__label {
            color: var(--dark-color);
        }

        .chevron {
            margin-left: .8rem;
            margin-top: -.2rem;
        }
    
        &.active  {
            .nav-sub{
                display: block;
            }

            .chevron {
                transform: none;
            }
        }
    
    }

    @include largeDesktop {
        margin: 0 1.2rem;
    }
}

.nav-sub {
    display: none;
    
    
    &__items {
        @include flex($alignItems: unset)
    }

    @include desktop{
        padding: 3.2rem;
        position: absolute;
        border-radius: 10px;
        width: 289px;
        background-color: #fff;
    }
}


.nav-sub__item {
    display: flex;
    margin-bottom: 1.6rem;
    text-align: center;
    border-bottom: 1px solid #eeeeef;

    .link{
        @include flex(row,flex-start,center);
        width: 100%;
        padding:1.2rem 1.6rem;
        border-radius: 10px;
        
        &:hover {
            background-color: var(--grey-color); 
        }
    }

    .icon {
        display: none;
    }

    &:last-child{
        margin-bottom: 0;
    }

    @include desktop {
        .icon {
            display: block;
            margin-right: 1.2rem;
        }
        border-bottom: none;
    }
}



// navbar auth links section
.auth-link {
    padding: .8rem 1.6rem;
    min-width: 9.6rem;
    margin: 0 .4rem;
}

.mobile-auth-links {
    @include flex($justifyContent: center);
    margin-top: auto;
    padding: 2.4rem;
    width: 100%;
    
    .email-signup-form {
        width: 100%;
        margin-bottom: 2.4rem;
    }

    .email-input{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .login {
        margin-bottom: 1.6rem;

        &__text {
            color: var(--blue-color);
        }
    }

    .auth-link {
        margin: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    @include desktop{
        display: none;
    }
}


