@use '../../styles/abstracts' as *;

.hero-section{
    padding-top: 4.8rem;
    position: relative;

    .container {
        @include flex(column,center,center);

        @include desktop {
            @include flex(row,space-between,center);
        }
    }


    .section__title {
        @include text-p1;
        
    }
    
    .section__title,&__description {
        text-align: center;
        
        &__desktop {
            text-align: left;
        }
    }

    .decor-item {
        right: auto;
        left: 0;
        transform: translateX(-60%);

        display: none;
        
        @include largeDesktop {
            display: block;
        }
    }

    &__description {
        @include text-p4;
        font-family: 'colfax-regular';
        font-weight: 400;
        max-width: 54.4rem;
        margin-bottom: 4.8rem;
        margin-left: auto;
        margin-right: auto;
    }

    &__stats {
        display: grid;
        grid-gap: 4.8rem 3.2rem;
        text-align: center;
        margin: 4.8rem 0;
    }

    .email-signup-form {
        flex-direction: column;
        max-width: 544px;
        margin: 0 auto;

        .email-input {
            margin-bottom: .8rem;
        }

        @include smallScreens {
            flex-direction: row;

            .email-input {
                margin-bottom: 0;
                margin-right: 1.5rem;
            }
        }
    }

    @include desktop {
        padding-top: 6.4rem;
        
        .section__title,&__description{
            text-align: left;
        }   
    }

    @include tablet{
        &__stats {
            grid-template-columns: repeat(2,1fr);
        }
    }
}

.stats {
    &__comment {
        font-size: 1.8rem;
        margin-bottom: 1.8rem
    }

    &__number {
        @include text-p4;
        font-weight: 700;
        
    }

    @include desktop {
        text-align: left;
    }
}

.hero-image {
    position: relative;

    &__description {
        font-size: 1.2rem;
        @include flex(column,$alignItems:flex-start);
        position: absolute;
        flex-wrap: wrap;
        padding: .8rem 1.2rem;
        bottom: 3rem;
        left: 4rem;
        background-color: var(--grey-color);

        @include tablet {
            bottom: 5rem;
            left: 8rem;
        }
    }

    &__link {
        color: var(--blue-color);
    }
}