@use '../../styles/abstracts' as *;

.hero-section{
    @include flex();
    padding-top: 4.8rem;

    .section__title {
        text-align: center;
    }
    
    .decor{
        transform: translate(-100%);
        position: absolute;
        top: 0;
    }

    &__description {
        font-weight: 400;
        font-size: 2.4rem;
        text-align: center;
        max-width: 54.4rem;
        margin-bottom: 4.8rem;
        margin-left: auto;
        margin-right: auto;
    }

    &__stats {
        display: grid;
        grid-gap: 4.8rem 3.2rem;
        text-align: center;
        margin: 4.8rem 0;
    }

    .email-signup-form {
        flex-direction: column;
        max-width: 544px;
        margin: 0 auto;

        .email-input {
            margin-bottom: .8rem;
        }

        @include smallScreens {
            flex-direction: row;

            .email-input {
                margin-bottom: 0;
            }
        }
    }

    @include desktop {
        padding-top: 6.4rem;
        
        .section__title,&__description{
            text-align: left;
        }   
    }

    @include tablet{
        &__stats {
            grid-template-columns: repeat(2,1fr);
        }
    }
}

.stats {
    &__comment {
        font-size: 1.8rem;
        margin-bottom: 1.8rem
    }

    @include desktop {
        text-align: left;
    }
}

.hero-image {
    position: relative;

    &__description {
        @include flex(column,$alignItems:flex-start);
        position: absolute;
        flex-wrap: wrap;
        padding: .8rem 1.2rem;
        background-color: var(--grey-color);
    }

    &__link {
        color: var(--blue-color);
    }
}