@use '../../styles/abstracts/' as *;

.business-intro .partners-section {
    @include flex(column,center,center);
    position: relative;

    .decor-item {
        
        top: 0;
        bottom: auto;

        &.left {
            left: 0;
            right: auto;
        }

        &.right {
            left: auto;
            right: 0;
        }
    }

    .section__intro {
        @include flex(column,unset,unset);

        @include tablet {
            @include flex(row,center,center);
        }
    }

    .section__title {
        @include text-p1;
    }

    .section__summary {
        @include text-p5;
    }

    .mobile-image {
        @include hideInTabletSmaller;
    }

    .desktop-image {
        @include showInTabletBigger;
    }
    
    &__plans {
        position: relative;
        padding-top: 16rem;
        padding-bottom: 5rem;
        width: 100%;
        @include flex(column,center,center);
        background-color: var(--grey-color);

        .decor-item {
            @include showInDesktop;
        }
    
        .decor-item.left {
            top: auto;
            bottom: 0;
            right: auto;
            left: 0;
        }
    
        .decor-item.right {
            top: 0;
            bottom: auto;
            right:0;
            left: auto;
        }
    }

    

    .plan-items {
        @include flex(column,center,flex-start);

        @include tablet {
            flex-direction: row;
        }

    }

    &__link {
        margin-top: 5rem;
        text-align: center;
    }

    &__plan {
        .title {
            @include text-p4;
            margin-bottom: 2.4rem;

        }

        .description {
            @include text-p6;
            margin-bottom: 1.8rem;
        }
    }
}