@use '../../styles/abstracts/' as *;

.business-intro .partners-section {
    @include flex(column,center,center);
    position: relative;

    .decor__item{

        &--right {
            margin-right: -12rem;
        }

        &--left {
            margin-left: -15rem;
        }
    }

    .section__intro {
        @include flex(column,unset,unset);

        @include tablet {
            @include flex(row,center,center);
        }
    }

    .section__title {
        @include text-p1;
        margin-bottom: 2.5rem;
        
    }

    .section__summary {
        @include text-p5;
    }

    .mobile-image {
        @include hideInTabletSmaller;
    }

    .desktop-image {
        @include showInTabletBigger;
    }
    
    &__plans {
        position: relative;
        padding-top: 10rem;
        padding-bottom: 5rem;
        width: 100%;
        @include flex(column,center,center);
        background-color: var(--grey-color);

        @include desktop {
            padding-top: 16rem;
        }
    }


    .plan-items {
        @include flex(column,center,flex-start);

        @include tablet {
            flex-direction: row;
        }

    }

    &__link {
        margin-top: 5rem;
        text-align: center;
    }

    &__plan {
        flex-basis: 33.33%;
        margin-right: 3rem;
        .title {
            @include text-p4;
            margin-bottom: 2.4rem;
        }

        .description {
            @include text-p6;
            margin-bottom: 1.8rem;
        }
    }
}