@use '../../../../styles/abstracts/' as *;

@mixin title {
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 600;
    margin: 0;
}

.home-section {
    max-width: 1216px;
    margin: 0 auto;

    .performance,.partnership {
        padding: 0 2.4rem 4.8rem;

        @include desktop {
            padding-right: 0;
            padding-left: 0;
        }
    }

    &__title {
        font-size: 2.4rem;
        padding: 3rem 2rem;

        @include desktop {
            padding-left: 0;
        }
    }

    padding-bottom: 6.4rem;

    @include desktop {
        padding: 3rem;  
    }
}

.home-section .programs-wrapper {
    @include flex(column,unset,unset);
    padding: 0px 2.4rem 4.8rem;

    @include desktop {
        padding-left: 0;
        padding-right: 0;
    }
}

.home-section .programs {
    display: grid;
    width: 100%;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));

    .desktop {
        @include showInDesktop;

        border-bottom: 1px solid lightgrey;
    }

    .mobile {
        display: block;

        @include desktop {
            display: none !important;
        }
    }

    .program-card {
        @include flex(column,unset,unset);
        width: 100%;
        border: 1px solid rgb(226, 226, 228);
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        padding: 1.5rem;
        justify-content: space-between;
        font-size: 1.6rem;

        & > * {
            padding-bottom: 1rem;
        }

        .desktop.btn--link {
            text-align: left;
        }

        .inline-list {
            @include flex(row,unset,unset);
            
            .list-item {
                padding: 0 1rem;
                border-right: 1px solid lightgrey;
                &:last-of-type {
                    border:none;
                }
            }
        }

        &__title {
            @include flex(row,space-between,center);
            font-size: 1.8rem;

            @include desktop {
                color: rgb(118, 118, 128);
            }
        }

        .right-arrow {
            width: 24px;
            height: 24px;
            margin: 0;

            @include desktop {
                display: none;
            }
        }

        &.affiliate .mobile {
            @include flex(column);
            .btn {
                width: 100%;
                margin-top: 1rem;
            }
        }

        &.balance  {
            .values {
                @include flex(column,center,flex-start);

                @include desktop {
                    @include flex(row,space-around,center);
                }
            }

            .value {
                @include flex(row,flex-start,center);
            }

            .balance-value{
                font-size: 2.4rem;

                @include desktop {
                    font-size: inherit;
                    margin-right: 1rem;
                }
            }

            .total-earnings {
                width: 100%;
                @include flex(row,space-between,center);
            }
        }
    }
}

.home-section .performance {
    
    &__title {
        @include title;
    }

    &__cards {
        display: grid;
        width: 100%;
        min-height: 378px;
        gap: 15px;
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    }

    .card-wrapper {
        @include flex(column,space-between,center);
        width: 100%;
        border: 1px solid rgb(226, 226, 228);
        box-sizing: border-box;
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
    }

    .card {
        @include flex(column,center,center);
        width: 100%;
        height: 100%;
        padding: 3.2rem 1.5rem 1.6rem;

        

        &__image {
            height: 105px;
            align-self: center;
            margin-bottom: 1.6rem;
        }

        &__description {
            // height: 100%;
            font-style: normal;
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 2.8rem;
            color: rgb(118, 118, 128);
            text-align: center;
            margin-bottom: 1.6rem;
        }

        &__title {
            @include title;
        }

        &__link {
            @include flex(row,center,center);
        }
    } 
}

.home-section .partnership {
    @include flex(column,unset,unset);

    &__title {
        font-size: 1.8rem;
        line-height: 2.4rem;
        font-weight: 600;
        margin: 0;
    }

    &__cards {
        @include flex(row,unset,unset);
        flex-wrap: wrap;
        width: 100%;
        padding: 2rem 0rem;
        background-color: rgb(246, 246, 247);
    }

    .card {
        @include flex(row,unset,center);
        width: 100%;
        padding: 0px 2rem;
        padding-bottom: 3rem;
        border-bottom: 1px solid rgb(226, 226, 228);

        &:last-of-type {
            border-bottom: none;
        }

        .image-wrapper {
            position: relative;
            margin-right: 1.2rem;
        }

        &__image {
            height: 64px;
            width: 64px;
        }

        &__description {
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 400;
            max-width: 375px;
            line-height: 2.2rem;
            letter-spacing: 0px;
            text-align: left;
            padding-top: .6rem;
        }

        @include desktop {
            width: 328px;
            padding-bottom: 0;
            border-bottom: none;
        }
    }

    
}

.home-section .explorer-desktop {
    .header {
        @include flex(row,space-between,center);

        .title {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 10px;
        }

        .toggle-btn {
            @include flex(row,center,center);
            margin-left: auto;
            font-style: normal;
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 2.2rem;
            cursor: pointer;
            transition: color .3s;
        }
    }

    .side-item {
        @include flex(row,flex-start,center);
        font-size: 1.5rem;
        cursor: pointer;
        transition: all .3s;
        padding: .6rem 2.2rem .6rem 1.8rem;
        width: 100%;
        &:hover {
            background: #f6f6f7;
        }

        &__label {
            width: 100%;
            @include flex(row,space-between,center);
        }
    }

    .box {
        display: flex;
        height: 302px;
        background: #fff;
        border: 1px solid #dde2e6;
        margin-bottom: 1.8rem;
        position: relative;
        border-radius: 4px;
    }

    .side {
        @include flex(column,space-evenly,flex-start);
        width: 360px;
        border-right: 1px solid #dde2e6;
    }
}

.explorer-desktop .main {
        flex: 1;
        padding: 2rem;
        display: flex;
        align-items: center;

        .image {
            width: 117px;
            height: 113px;
        }

        .title {
            font-size: 1.8rem;
            font-weight: 600;
            
        }

        .description {
            max-width: 444px;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 2.2rem;
            margin: 1rem 0 1.6rem;
        }
}

.explorer-mobile {
    &__modal {
        position: fixed;
        top:0;
        right: 0;
        left: 0;
        background-color: #fff;
        z-index: 10;
        height: 100%;
        width: 100%;
        text-align: center;
    }

    &__closeBtn {
        position: absolute;
        font-size: 4rem;
        right: 3rem;
        top: 1.5rem;
    }    

    &__body {
        @include flex(column,center,center);
        padding-top: 5rem;
    }

    &__trigger {
        padding: 2rem;
        font-size: 2rem;
        font-weight: 700;
        border: 1px solid #dde2e6;
        margin-bottom: 2rem;
    }
}

.explorer-mobile__modal .card {
    @include flex(column,center,center);

    * {
        margin-top: 2.5rem;
        font-size: 1.5rem;
    }

    &__image {
        width: 115px;
        height: 120px;
    }
}
